@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "datepicker";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

.nowrap {
	white-space: nowrap;
}

.pointer {
	cursor: pointer;
}

body, html {
	font-family: 'Lato', sans-serif;
}

#navbar {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-top: 10px;
}

#navbar-logo {
	width: 120px;
	margin: 0 auto;
	display: block;
}

#login-logo {
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

.date-filters {
	padding-top: 15px;
	padding-bottom: 15px;
}

.posts-table {

	td.data-title,
	td.data-date,
	td.data-tags {
		white-space: nowrap;
	}

	ul {
		margin-bottom: 0;
	}

}

.statistics-overview-table {
	td {
		border-right: 1px solid #ddd;
	}
}

.word-usage-list {
	display: table;
	width: 100%;
	counter-reset: table-ol;
	li {
		display: table-row;
		counter-increment: table-ol;

		&:nth-child(2n) {
			span, &:before {
				background: #F6F6F6;
			}
		}
		&:before {
			content: counter(table-ol) ".";
			display: table-cell;
			padding-right: 3px;
			text-align: right;
		}
	}

	span.tcell {
		white-space: nowrap;
		display: table-cell;
		padding-left: 3px;
		padding-right: 3px;
	}

	.count-percentage {
		color: #ccc;
	}
}

.superword {
	font-weight: 700;
	color: red;
	text-decoration: underline;
}